body {
  background-color: rgb(249, 249, 250);
}
.center {
  margin: auto;
  width: 50%;
  border: 3px solid rgba(186, 206, 186, 0.678);
  border-width: 20px;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
}
.mesi {
  text-align: center;
}
h1 {
  color: rgba(0, 0, 0, 0.575);
}
button {
  background-color: rgb(155, 155, 223);
  width: 80px;
  height: 30px;
  border-style: none;
  border-radius: 5px;
  border-color: rgb(135, 135, 206);
}
button:hover {
  background-color: rgb(97, 97, 223);
}
.divColor {
  background-color: white;
}
